@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-item {
    @apply px-4 py-1.5 text-sm font-semibold text-white/70 hover:bg-white/10 hover:text-white rounded-full transition duration-300;
  }

  .nav-item.active {
    @apply bg-white text-gray-900 hover:bg-white/70 hover:text-gray-900;
  }

  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center border gap-2 px-6 h-12 rounded-xl;
  }

  .btn-primary {
    @apply border-white/15;
  }

  .btn-secondary {
    @apply border-white bg-white text-gray-900;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }
}
